.left-panel {
  position: fixed;
  width: 350px;
  max-width: 350px;
  height: 100vh;
  overflow: hidden;
  border-right: solid 0px rgba(55, 55, 55, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: currentColor;
}
input[type="search"] {
  font-weight: 700;
}
::placeholder {
  color: #999 !important;
  opacity: 1; /* Firefox */
  font-weight: 400;
}
::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #999 !important;
}
.right-panel {
  text-transform: uppercase;
  margin-left: 350px;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: auto;
}
.dots {
  background-image: radial-gradient(circle, #ccc 1px, transparent 1px);
  background-size: 15px 15px;
}
.warning-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
}
.model-name-vertical {
  font-size: 8pt !important;
  line-height: 8pt;
  font-weight: 700;
}
.warning-icon-container {
  text-align: center;
  font-size: 300%;
  color: red;
  padding-top: 80px;
}
.error-message {
  text-align: center;
  font-size: large;
}
.blank-line {
  background: #ccc;
  border-radius: 4px;
  height: 11px;
  margin-bottom: 10px;
}
.placeholder {
  font-size: 8pt !important;
  line-height: 8pt !important;
  height: 8pt !important;
  background: #ddd !important;
}
#keytagContainerRight {
  transform: rotate(0deg);
}
.r-90 {
  transform: rotate(90deg);
}
.key-tag-container-left {
  border: solid 1px #ddd;
  border-radius: 6pt;
  padding: 0;
  margin: 0;
  width: 1.5in;
  height: 2in;
  background: #fff !important;
  zoom: 2;
}
.key-tag-container-right {
  border: solid 1px #ddd;
  border-radius: 6px;
  padding: 0px;
  margin-top: 0px;
  width: 1.5in;
  height: 2in;
  background: #fff !important;
  zoom: 2;
}
.keytag-label {
  font-size: 6pt;
  color: #999;
  margin: -8px 0 0px 0;
  padding-left: 0px;
}
.model-usage {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  border-bottom: solid 1px #eee;
}
.stock-number {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  border-bottom: solid 1px #eee;
}
.model-year {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  border-bottom: solid 1px #eee;
}
.manufacturer {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border-bottom: solid 1px #eee;
}
.model-name {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: solid 1px #eee;
}
.model-code {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  border-bottom: solid 1px #eee;
}
.model-color {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: solid 1px #eee;
}
.model-vin {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.model-usage::after {
  display: block;
  text-align: left;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "USAGE";
  font-size: 6pt !important;
  line-height: 8px;
  color: #ddd;
}
.stock-number::after {
  display: block;
  text-align: left;
  padding-top: 2px;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "STOCK#";
  font-size: 6pt !important;
  line-height: 6px;
  color: #ddd;
}
.model-year::after {
  display: block;
  text-align: left;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "YEAR";
  font-size: 6pt !important;
  line-height: 6px;
  color: #ddd;
}
.manufacturer::after {
  display: block;
  text-align: left;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "MANUF.";
  font-size: 6pt !important;
  line-height: 6px;
  color: #ddd;
}
.model-name::after {
  display: block;
  text-align: left;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "MODEL";
  font-size: 6pt !important;
  line-height: 8px;
  color: #ddd;
}
.model-code::after {
  display: block;
  text-align: left;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "CODE";
  font-size: 6pt !important;
  line-height: 8px;
  color: #ddd;
}
.model-color::after {
  display: block;
  text-align: left;
  padding-top: 2px;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "COLOR";
  font-size: 6pt !important;
  line-height: 8px;
  color: #ddd;
}
.model-vin::after {
  display: block;
  text-align: left;
  padding-top: 2px;
  padding-left: 2px;
  margin-bottom: 0px;
  margin-top: -4px;
  content: "VIN";
  font-size: 6pt !important;
  line-height: 6px;
  color: #ddd;
}
.year-manufacturer-vertical {
  font-size: 18pt;
  line-height: 18pt;
  font-weight: 700;
  letter-spacing: -1px;
}
.model-vin-vertical {
  font-size: 13pt;
  line-height: 13pt;
  font-weight: 700;
}
.model-name-vertical {
  font-size: 13pt;
  line-height: 13pt;
  font-weight: 700;
}
