html,
body {
  margin: 0;
  padding: 0;
}
.search-width {
  max-width: 440px;
  width: 100%;
}
.dots {
  background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
  background-size: 15px 15px;
}
.bg-white {
  background: #fff;
}
.btn-icon {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.input-group input {
  text-align: left;
  max-width: 75%;
}
.hidden {
  display: none;
}
.zoom-0 {
  transform: scale(0.5);
}
.zoom-1 {
  transform: scale(1);
}
.zoom-2 {
  transform: scale(1.5);
}
.w-5 {
  width: 5% !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
th {
  min-width: 100px;
  max-width: 300px;
}
.overlay-header {
  position: fixed;
  top: 10px;
  right: 10px;
}
.print-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  color: #333;
}
.print-header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
  font-weight: 900;
}
.hide-elements {
  padding: 5px 30px;
  background: #fff;
  border: solid 0px #ddd;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.hide-elements label {
  margin: 0 5px;
}
.fa-times-circle {
  color: #222;
  font-size: 3em;
}
.bg-blur {
  background: transparent;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  opacity: 0.9;
}
.navbar-header .container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #ccc;
}
.navbar-right {
  margin: 0 auto;
}
.navbar-right h5 {
  margin: 0 0 0 50px;
  padding: 2px;
  color: #999;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: 100%;
  width: 100%;
}
.side-menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  background: #fff;
  border: solid 1px #ddd;
  color: #333;
}
.tags-spacer {
  display: block;
  width: 100%;
  height: 100px;
}
.spacer-25 {
  display: block;
  width: 100%;
  height: 25px;
}
.spacer-50 {
  display: block;
  width: 100%;
  height: 50px;
}
.spacer-60 {
  display: block;
  width: 100%;
  height: 60px;
}
.spacer-75 {
  display: block;
  width: 10%;
  height: 75px;
}
.spacer-100 {
  display: block;
  width: 100%;
  height: 100px;
}
.spacer-125 {
  display: block;
  width: 100%;
  height: 125px;
}
.spacer-150 {
  display: block;
  width: 100%;
  height: 150px;
}
.spacer-300 {
  display: block;
  width: 100%;
  height: 300px;
}
.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8.5in;
  height: 10.8in;
  color: #333 !important;
  background: #fff !important;
}
.tag-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 4.2in;
  height: 10.8in;
  color: #333;
  border: solid 1px #ddd;
}
.tag-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 4.2in;
  height: 10.8in;
  background: #fff;
  color: #333;
  border: solid 1px #ddd;
}

.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.icon-circle::before {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 8px;
  width: 36px;
  height: 36px;
  background: #ac2c39;
  border: solid 1px #fff;
  border-radius: 50%;
}

/* data table styles */
.nowrap {
  white-space: nowrap;
}
#rowCount {
  font-size: 16px;
  font-weight: 400;
}
th {
  cursor: pointer;
  opacity: 0.4;
}
th:hover {
  cursor: pointer;
  opacity: 1;
}
th:hover::after {
  cursor: pointer;
  content: " \25B2";
}
th.sort-asc::after {
  content: " \25B2";
}
th.sort-desc::after {
  content: " \25BC";
}
td {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
th {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 100px;
}
.badge {
  font-size: 14px;
  font-weight: 700;
}
.action-button-group i {
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 0;
  text-transform: uppercase;
}
.action-button-group small {
  display: block;
  min-width: 50px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
}
.action-button {
  min-width: 75px;
  max-width: 100px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.action-button i {
  font-size: 24px;
  font-weight: 400;
}
.table img {
  width: 80px;
  border-radius: 5px;
}
.vehicle-model {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photos-status {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.placeholder {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  height: 15px;
}
.offcanvas {
  width: 320px !important;
  opacity: 0.94;
}
.side-menu-footer {
  position: absolute;
  background: none;
  border: none;
  bottom: 0;
  right: 0;
  padding: 10px 0;
}

/* Key Tags */
.modal {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.warning-icon-container {
  text-align: center;
  font-size: 300%;
  color: red;
  padding-top: 80px;
}
.error-message {
  text-align: center;
  font-size: large;
}
.rotated-label {
  transform: rotate(90deg);
  transform-origin: right;
}
.blank-line {
  background: #ccc;
  border-radius: 4px;
  height: 11px;
  margin-bottom: 10px;
}
.placeholder {
  font-size: 12px !important;
  line-height: 12px !important;
  height: 12px !important;
}
.key-tag-container {
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 0px 5px;
  margin-top: 3px;
  width: 1.5in;
  height: 2in;
  background: #fff;
  color: #000;
  zoom: 2;
}
.keytag-label {
  font-size: 6px;
  color: #999;
  margin: -8px 0 0px 0;
  padding-left: 0px;
}
.model-usage {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  border-bottom: solid 1px #eee;
}
.stock-number {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  border-bottom: solid 1px #eee;
}
.model-year {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  border-bottom: solid 1px #eee;
}
.manufacturer {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px #eee;
}
.model-name {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px #eee;
}
.model-code {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  border-bottom: solid 1px #eee;
}
.model-color {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px #eee;
}
.model-vin {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}
.model-usage::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "USAGE";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.stock-number::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "STOCK NUMBER";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.model-year::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "YEAR";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.manufacturer::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "MANUFACTURER";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.model-name::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "MODEL";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.model-code::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "CODE";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.model-color::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "COLOR";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}
.model-vin::after {
  display: block;
  text-align: left;
  margin-bottom: -1px;
  margin-top: -4px;
  content: "VIN";
  font-size: 6px !important;
  line-height: 8px;
  color: #ccc;
}

/* Vertical Label */
.rotated-label-text {
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 1.4in;
}
.year-make-container {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.model-year-vertical {
  font-size: 22px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 1px;
}
.manufacturer-vertical {
  font-size: 22px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 1px;
}
.model-name-vertical {
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.model-vin-vertical {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 678px) {
  .key-tag-container {
    zoom: 1;
  }
  .search-width {
    width: 100%;
  }
  thead {
    display: none;
    width: 100%;
  }
  tr {
    display: block;
    border: solid 1px #555;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
  }
  td {
    display: block;
    min-width: 100%;
    width: 100%;
    text-align: center !important;
  }
  td a img {
    min-width: 300px;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  td div {
    justify-content: center;
    text-align: center !important;
  }
  td div input {
    display: flex;
    justify-content: center;
    text-align: center !important;
    max-width: 300px;
    width: 100% !important;
  }
}
