body {
  margin: 0px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #eee;
  background-image: url("../img/dots.png");
}
.hidden {
  display: none;
}
.print-header h2 {
  font-weight: 900;
}
.overlay-header {
  position: fixed;
  top: 10px;
  right: 10px;
}
.print-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: #fff;
  border: solid 1px #ddd;
  color: #333;
}
.print-header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
  font-weight: 900;
}
.hide-elements {
  padding: 5px 10px;
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
}
.hide-elements label {
  margin: 0 5px;
}
.fa-times-circle {
  color: #222;
  font-size: 3em;
}
.navbar-header .container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #ccc;
}
.navbar-right {
  margin: 0 auto;
}
.navbar-right h5 {
  margin: 0 0 0 50px;
  padding: 2px;
  color: #999;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.side-menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  background: #fff;
  border: solid 1px #ddd;
  color: #333;
}
.tags-spacer {
  display: block;
  width: 100%;
  height: 100px;
}
.spacer-50 {
  display: block;
  width: 100%;
  height: 50px;
}
.spacer-60 {
  display: block;
  width: 100%;
  height: 60px;
}
.spacer-75 {
  display: block;
  width: 10%;
  height: 75px;
}
.spacer-100 {
  display: block;
  width: 100%;
  height: 100px;
}
.spacer-300 {
  display: block;
  width: 100%;
  height: 300px;
  background: #fff;
}
.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8.5in;
  height: 11in;
  gap: 0.0125in;
  background: #fff;
  color: #333;
}
.tag-left,
.tag-right {
  margin: 0;
}
.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
