body {
  margin: 0px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  color: #333;
  background: #eee;
}
.close button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.fa-times-circle {
  color: #222;
  font-size: 3em;
}
.navbar-header .container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #ccc;
}
.navbar-right {
  margin: 0 auto;
}
.navbar-right h5 {
  margin: 0 0 0 50px;
  padding: 2px;
  color: #999;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.tags-spacer {
  display: block;
  width: 100%;
  height: 100px;
}
.spacer-100 {
  display: block;
  width: 100%;
  height: 100px;
}
.spacer-300 {
  display: block;
  width: 100%;
  height: 300px;
  background: #fff;
}
.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8.5in;
  height: 11in;
  gap: 0.25in;
  background: #fff;
  color: #333;
}
.tag-left {
  margin: 0;
}
.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
